.article__content {
    .shadow > img,
    img.shadow {
        @include box-shadow();
    }

    .border > img,
    img.border {
        border: 1px solid $border-color-l;
    }

    .rounded > img,
    img.rounded {
        border-radius: map-get($base, border-radius);
    }

    .circle > img,
    img.circle {
        border-radius: 50%;
    }
}
